@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&family=Rubik:wght@300;400;500&display=swap");


/* Tailwinds */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Create varibles */
:root {
  --primary-color: #30101e;
  --secondary-color: #ff432e;
  --text-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}
